/***************************
****************************
	Fonts and Main Styles
****************************
***************************/

@import url('https://fonts.googleapis.com/css?family=Crete+Round:400,400i|Lato:300,400,700,900');
body {
	background-image: radial-gradient(circle, rgb(173, 202, 214), #006E90);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

input#city {
	max-width: 5em;
}

header {
	margin-bottom: 2rem;
	font-family: 'Crete Round', serif;
	color: #FFFFEA;
}

ul {
	list-style-type: none;
}

li a {
	color: #ECA400;
	font-weight: 700;
}

li a:hover {
	color: orangered;
	font-weight: 900;
}


/*
#infoBoxes {
	padding-right: 3em;
}
*/

.bgimg {
	position: fixed;
	top: 5em;
	left: 0;
	width: 100%;
	z-index: -1;
	opacity: 1;
}


/***************************
****************************
	Temperature Styles
****************************
***************************/

#weather-frame {
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	border-radius: 0.5em;
	margin-top: 4em;
}


/***************************
****************************
	Temperature Styles
****************************
***************************/

#temp {
	display: inline;
	color: orangered;
}

#degree {
	font-size: 0.5em;
	width: 3.5em;
	height: 3.5em;
	padding: 0.3em;
	margin: 0 auto;
	border-radius: 100%;
	border: 1px solid #ccc;
	cursor: pointer;
	transition-duration: 0.5s;
}

#degree:hover {
	border: 1px solid #fff;
	box-shadow: 6px 6px 20px -5px orangered;
}


/***************************
****************************
	Scroll Bar Styles
****************************
***************************/

.scroll {
	height: 15em;
	overflow-y: scroll;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	border-radius: 0.5em;
	margin: 0.5em 0;
}

.scroll::-webkit-scrollbar {
	width: 0.6em;
}

.scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #ECA400;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

scroll::-webkit-scrollbar-thumb:window-inactive {
	background: #ECA400;
}


/***************************
****************************
	  Footer Styles
****************************
***************************/

footer {
	color: #FFFFEA;
	margin: 2em auto;
}

footer a {
	color: orangered;
	font-weight: 700;
}

footer a:hover {
	color: orange;
}


/***************************
****************************
	Media Queries Styles
****************************
***************************/

@media (max-width: 768px) {
	#weather-frame {
		margin-top: 2em;
	}
}

@media (max-width: 576px) {
	.bgimg {
		height: 640px;
		width: auto;
		margin-top: 3.5em;
	}
}